<a href="https://colab.research.google.com/github/khemingkapat/cpe_code/blob/main/data_models/CPE232-HW1-PythonBasic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# HW 1: Basic Python Programming
#### CPE232 Data Models
---

## 1. Basic usage

> John Doe is a 29 years-old system engineer who earns ฿41500.00 a month.

Create and assign variables to store this person's information (name, age, position and salary).

In [ ]:
# Write your code here
name ="John Doe"
age = 29
profession = "system_engineer"
salary_baht = 41500.00

What is the type of each variables?

In [ ]:
# Write your code here
print(f"name is {type(name)}")
print(f"age is {type(age)}")
print(f"profession is {type(profession)}")
print(f"salary_baht is {type(salary_baht)}")

name is <class 'str'>
age is <class 'int'>
profession is <class 'str'>
salary_baht is <class 'float'>

The manager decides to give John a 7% raise. Update his salary.

In [ ]:
# Write your code here
salary_baht = salary_baht*1.07

Prints his information again with his new salary.

In [ ]:
# Write your code here
salary_baht

44405.0

Now, he decides to resign. Delete his information from the system.

In [ ]:
# Write your code here
del name
del age
del profession
del salary_baht

## 2. Variable and Expression

**2.1** Write a code to convert temperature unit from celcius to other units

In [ ]:
C = 34.5

**Fahrenheit**  
#### $\frac{C}{5} = \frac{F-32}{9}$

In [ ]:
F = C*(9/5)+32
F

94.1

**Kelvin**  
$K = C + 273.15$

In [ ]:
from os import kill
K = C+273.15
kill

**Rømer**  
#### $Ro = \frac{C \times 21}{40} + 7.5$

In [ ]:
Ro = (C*21)/40 + 7.5
Ro

25.6125

## 3. Multi-item variables
#### List

In [ ]:
names = ['Thomas', 'Kate', 'Mike', 'Amelia', 'James', 'Megan']

Create new variable call `new_name` which takes input name of the user.

In [ ]:
new_name = input('Enter your name: ')

Enter your name: khem

Insert `new_name` into `names` list.

In [ ]:
# Write your code here
names.append(new_name)
names

['Thomas', 'Kate', 'Mike', 'Amelia', 'James', 'Megan', 'khem']

Select your name from the list

In [ ]:
# Write your code here
names[-1]

'khem'

Merge `another_names` into `names`.

In [ ]:
another_names = ['Peter', 'Steve', 'Sam', 'Charlotte']

In [ ]:
# Write your code here
names += another_names

In [ ]:
names

['Thomas',
 'Kate',
 'Mike',
 'Amelia',
 'James',
 'Megan',
 'khem',
 'Peter',
 'Steve',
 'Sam',
 'Charlotte']

Change `Amelia`'s name to `Amy`

In [ ]:
# Write your code here
names[names.index("Amelia")]="Amy"

In [ ]:
names

['Thomas',
 'Kate',
 'Mike',
 'Amy',
 'James',
 'Megan',
 'khem',
 'Peter',
 'Steve',
 'Sam',
 'Charlotte']

#### Dictionary

In [ ]:
capital_city = {'England':'London',
                'Spain':'Madrid',
                'Japan':'Tokyo',
                'Australia':'Sydney',
                'Germany':'Berlin',
               }

Add a record `Thailand` and it's capital city to this dictionary

In [ ]:
# Write your code here
capital_city["Thailand"]="Bangkok"
capital_city

{'England': 'London',
 'Spain': 'Madrid',
 'Japan': 'Tokyo',
 'Australia': 'Sydney',
 'Germany': 'Berlin',
 'Thailand': 'Bangkok'}

You may notice that the capital city of `Australia` is wrong. It should be `Canberra`. Correct this mistake.

In [ ]:
# Write your code here
capital_city["Australia"]="Canberra"
capital_city

{'England': 'London',
 'Spain': 'Madrid',
 'Japan': 'Tokyo',
 'Australia': 'Canberra',
 'Germany': 'Berlin',
 'Thailand': 'Bangkok'}

## 4. Control Flows and conditional statements

### if...elif...else

**1.** Define a variable to get input age from user.

In [ ]:
age = int(input("Enter age : "))

Enter age : 15

Write a series of if...elif...else statement that categorize input age into following groups:
> Babies: 0-2 years old  
Children: 3-12 years old  
Teenager: 13-19 years old  
Young Adults: 20-29 years old  
Middle-aged Adults: 30-45 years old  
Old Adult: 46-59 years old  
Elderly: Above 60 years old

In [ ]:
# Write your code here
if 0<= age <= 2:
    print("Babies")
elif 3 <= age <= 12:
    print("Children")
elif 13 <= age <= 19:
    print("Teenager")
elif 20 <= age <= 29:
    print("Young Adults")
elif 30 <= age <= 45:
    print("Middle-aged")
elif 46 <= age <= 59:
    print("Old Adult")
elif age >= 60:
    print("Eldery")

Teenager

### Looping

**1.** Write a code to create a multiplication table of an input number (multiplier from 1-12).

In [ ]:
# Write your code here
multiplicant = int(input("Enter number : "))

for mul in range(1,12+1):
    print(f"{multiplicant} x {mul} = {mul*multiplicant}")

Enter number : 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60

**2.** Write a code that construct the following pattern.

input : 5
output:
*
**
***
****
*****

In [ ]:
# Write your code here
level = int(input("Enter Level : "))
for i in range(1,level+1):
    print("*"*i)

Enter Level : 15
*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************

**3.** Creates a loop to print `I love <programming language>!` except for Assembly, print `Not you, Assembly`.

In [ ]:
languages = ['C/C++', 'Python', 'R', 'Java', 'SQLs', 'Assembly', 'Go', 'Rust', 'Kotlin']

In [ ]:
# Write your code here
for lang in languages:
    if lang == "Assembly":
        print(f"Not you, {lang}")
    else :
        print(f"I love {lang}!")

I love C/C++!
I love Python!
I love R!
I love Java!
I love SQLs!
Not you, Assembly
I love Go!
I love Rust!
I love Kotlin!

**4.** Write a code to print every number from 1 to 25 except the one that is divisible by 3.

In [ ]:
# Write your code here
for num in range(1,25+1):
    if num%3:
        print(num)

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25

**5.** Write a code that finds the number that is divisible by 7 in a given range.

In [ ]:
lower_bound = 1
upper_bound = 100
divisor = 7

result = []

In [ ]:
# Write your code here
for num in range(lower_bound,upper_bound):
    if not num%7:
        result.append(num)

print(result)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

**6.** Write a code that construct the following pattern.

input: 5
output:
*#####
**####
***###
****##
*****#

input: 10
output:
*##########
**#########
***########
****#######
*****######
******#####
*******####
********###
*********##
**********#

In [ ]:
# Write your code here
level = int(input("Enter level : "))
for i in range(1,level+1):
    print(f'{"*"*i}{"#"*(level+1-i)}')

Enter level : 15
*###############
**##############
***#############
****############
*****###########
******##########
*******#########
********########
*********#######
**********######
***********#####
************####
*************###
**************##
***************#

## 5. Functions

**1.** Define a function `average` that takes arbitrary number of arguments and calculate the mean of input.

In [ ]:
# Write your code here
def average(*nums):
    return sum(nums)/len(nums)

average(1,2,3,4,5)

3.0

**2.** Define a function `sumproduct` that takes 2 equal-sized lists and calculate sum of the products of two lists.  
It should look like this:  
> sumproduct([1,2,3],[4,5,6])  
output: 32

(1 * 4) + (2 * 5) + (3 * 6) = 32

In [ ]:
# Write your code here
def sumproduct(arr1,arr2):
    result = 0
    for (i,j) in zip(arr1,arr2):
        result += i*j

    return result

sumproduct([1,2,3],[4,5,6])

32

**3.** Define a function `fibonacci` that returns Fibonacci number at `n` position.  
A Fibonacci number at position `n` is defined by `F(n) = F(n-1) + F(n-2)`. Where `F(0) = 0` and `F(1) = 1`  
**Example:** `0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ...`

In [ ]:
# Write your code here
def fibonacci(n):
    if n == 0: return 0
    elif n == 1 : return 1
    else : return fibonacci(n-1)+fibonacci(n-2)

fibonacci(7)

13

**4.** Define a function `is_palindrome` that takes input string and check whether it is a palindrome or not.  
A string is a palindrome if it reads the same forward and backwards.  

**Example:** `madam`, `race car`, `borrow or rob`, `amore roma`, `never odd or even`  
Do not consider whitespace. Use `str.replace(' ', '')` to remove whitespace from your string.  
Case-insensitive. You can turn everything into lower or uppercase using `str.lower()` or `str.upper()`  

**Hint:** you can reverse the string using `[::-1]` slice.

In [ ]:
str1 = "radar" # palindrome
str2 = "rotator" # palindrome
str3 = "lemon" # not palindrome

In [ ]:
# Write your code here
def is_palindrome(text):
    return text == text[::-1]

for i in range(1,4):
    text = eval(f"str{i}")
    print(f'{text} is \
    {"not" if not is_palindrome(text) else ""} \
    palindrome')

radar is          palindrome
rotator is          palindrome
lemon is     not     palindrome

**5.** An `anagram` is a word or phrase formed by rearranging the letters of a different word or phrase.  
Define a function `is_anagram` that takes in 2 strings and check whether it is possible to compose a second string using letters in the first string or not.  

**Example:** `Tom Marrvolo Riddle` can be rearraged into `I am Lord Voldermort`  
`Meaning of Life` can be rearranged into `Engine of a Film`  
Do not consider whitespace. Use `str.replace(' ', '')` to remove whitespace from your string.  
Case-insensitive. You can turn everything into lower or uppercase using `str.lower()` or `str.upper()`  
Returns only `True` of `False`

In [ ]:
# Write your code here
str1 = "Meaning of Life"
str2 = "Engine of a Film"

def is_anagram(text1,text2):
    to_list = lambda txt : txt.lower()\
                        .replace(" ","")\
                        .split().sort()
    return to_list(text1)==to_list(text2)

is_anagram(str1,str2)

True

---